.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;                                  /*same as height of the header*/
    background-color: white;
    width: 72px;
    z-index: 200;                               /*coz the header is covering the sidebar. z-index of header is 100. make this 200*/
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(241, 240, 240);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}